USE [master]
GO
/****** Object:  Database [Shop]    Script Date: 17.07.2019 0:00:28 ******/
CREATE DATABASE [Shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shop', FILENAME = N'D:\SQL Server\Program Files\MSSQL14.TEST_SQL\MSSQL\DATA\Shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shop_log', FILENAME = N'D:\SQL Server\Program Files\MSSQL14.TEST_SQL\MSSQL\DATA\Shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shop]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 17.07.2019 0:00:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[GoodId] [int] NOT NULL,
	[GoodName] [nvarchar](50) NOT NULL,
	[CategoryName] [nvarchar](20) NULL,
	[ManufacturerName] [nvarchar](20) NULL,
	[Price] [money] NOT NULL,
	[GoodCount] [numeric](18, 6) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
