USE [master]
GO
/****** Object:  Database [9p31]    Script Date: 18.07.2019 9:50:00 ******/
CREATE DATABASE [9p31]
GO
USE [9p31]
GO
/****** Object:  Table [dbo].[books]    Script Date: 18.07.2019 9:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[books](
	[N] [int] NOT NULL,
	[Code] [float] NULL,
	[New] [bit] NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Price] [money] NULL,
	[Izd] [nvarchar](255) NULL,
	[Pages] [float] NULL,
	[Format] [nvarchar](255) NULL,
	[Date] [datetime] NULL,
	[Pressrun] [float] NULL,
	[Themes] [nvarchar](255) NULL,
	[Category] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theme]    Script Date: 18.07.2019 9:50:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theme](
	[ThemeId] [int] IDENTITY(1,1) NOT NULL,
	[ThemeName] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ThemeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[books] ([N], [Code], [New], [Name], [Price], [Izd], [Pages], [Format], [Date], [Pressrun], [Themes], [Category]) VALUES (1, 4704, 0, N'Самоучитель работы на персональном компьютере: 3е изд., доп.', 17.4000, N'BHV Киев', 640, N'70х100/16', CAST(N'2000-02-23T00:00:00.000' AS DateTime), 10000, N'Использование ПК в целом', N'Учебники')
INSERT [dbo].[books] ([N], [Code], [New], [Name], [Price], [Izd], [Pages], [Format], [Date], [Pressrun], [Themes], [Category]) VALUES (2, 5110, 0, N'Аппаратные средства мультимедия. Видеосистема РС', 15.5100, N'BHV С.-Петербург', 400, N'70х100/16', CAST(N'2000-07-24T00:00:00.000' AS DateTime), 5000, N'Использование ПК в целом', N'Учебники')
INSERT [dbo].[books] ([N], [Code], [New], [Name], [Price], [Izd], [Pages], [Format], [Date], [Pressrun], [Themes], [Category]) VALUES (3, 4316, 0, N'Основы работы на ПК', 19.9100, N'BHV С.-Петербург', 440, N'70х100/16', CAST(N'2000-01-11T00:00:00.000' AS DateTime), 3000, N'Использование ПК в целом', N'Учебники')
GO
SET IDENTITY_INSERT [dbo].[Theme] ON 

INSERT [dbo].[Theme] ([ThemeId], [ThemeName]) VALUES (1, N'CAD-пакеты')
INSERT [dbo].[Theme] ([ThemeId], [ThemeName]) VALUES (2, N'Базы данных клиент-сервер')
INSERT [dbo].[Theme] ([ThemeId], [ThemeName]) VALUES (3, N'Графика и анимация')
SET IDENTITY_INSERT [dbo].[Theme] OFF
USE [master]
GO
