USE [master]
GO
/****** Object:  Database [ElectricPower]    Script Date: 12.09.2019 9:06:10 ******/
CREATE DATABASE [ElectricPower]

GO
USE [ElectricPower]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetId] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Street] PRIMARY KEY CLUSTERED 
(
	[StreetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[StreetId] [int] NOT NULL,
	[SubdivisionId] [int] NOT NULL,
	[House] [nvarchar](12) NOT NULL,
	[Serial] [nvarchar](24) NULL,
	[СountFloor] [int] NULL,
	[СountEntrance] [int] NULL,
	[Latitude] [decimal](18, 2) NOT NULL,
	[Longitude] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Address] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewAddress]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[ViewAddress]
as
Select a.AddressId, s.StreetName + ' '+ a.House as Address, 
    a.Serial, a.СountFloor
from Address a inner join Street s on a.StreetId=s.StreetId

--4.	Выведите всех потребителей и адрес, которые заключили контракт на потребление больше 2000квт

GO
/****** Object:  Table [dbo].[ConsumerRent]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumerRent](
	[ConsumerRentId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ConsumerRent] PRIMARY KEY CLUSTERED 
(
	[ConsumerRentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConsumerContract]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConsumerContract](
	[ConsumerContractId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerRentId] [int] NOT NULL,
	[UsedPercent] [numeric](7, 2) NOT NULL,
	[UsedKvat] [int] NOT NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConsumerContractId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ViewUsedElpowerConsumerNew]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ViewUsedElpowerConsumerNew]
AS
SELECT     c.CounterId, c.CounterFullName, 
                      c.Coefficient, c.AddressId, 1 ConsumerId, c.PurposeId
                      ,100 UsedPercent, 0 UsedKvat
                      

FROM         dbo.Counter AS c 
WHERE c.PurposeId IN (1,2,5)
UNION
SELECT     c.CounterId, c.CounterFullName, 
                      c.Coefficient, c.AddressId, 2 ConsumerId, c.PurposeId
                      ,100 UsedPercent, 0 UsedKvat
                      

FROM         dbo.Counter AS c 
WHERE c.PurposeId =4
UNION
SELECT     c.CounterId, c.CounterFullName, 
                      c.Coefficient, c.AddressId, cr.ConsumerId, c.PurposeId
                      ,
                      CASE 
                      WHEN cc.UsedPercent IS NULL THEN 100 
                      ELSE cc.UsedPercent 
                      END AS UsedPercent,
                      CASE WHEN cc.UsedKvat IS NULL 
                      THEN 0 ELSE cc.UsedKvat 
                      END AS UsedKvat
                      

FROM         dbo.Counter AS c INNER JOIN
                      dbo.ConsumerRent AS cr ON c.AddressId = cr.AddressId  
                      INNER JOIN 
                      dbo.ConsumerContract AS cc ON  cr.ConsumerRentId=cc.ConsumerRentId AND c.CounterId = cc.CounterId
--WHERE c.AddressId IN (
--SELECT a.AddressId
--FROM Address a
--WHERE a.SubdivisionId=2
--)
GO
/****** Object:  Table [dbo].[Consumer]    Script Date: 12.09.2019 9:06:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consumer](
	[ConsumerId] [int] IDENTITY(1,1) NOT NULL,
	[ConsumerName] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Consumer] PRIMARY KEY CLUSTERED 
(
	[ConsumerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[uv_UsedElPowerConsumer]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[uv_UsedElPowerConsumer]
AS

SELECT     c.CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
           cons.ConsumerName,  scr.StreetName ConsumerStreetName, acr.House ConsumerHouse,
            p.PurposeName, Coefficient, 
                      cc.UsedKvat AS UsedKvat, cc.UsedPercent AS UsedPercent, CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId INNER JOIN
                      ConsumerContract cc ON c.CounterId = cc.CounterId INNER JOIN
                      ConsumerRent cr ON cc.ConsumerRentId = cr.ConsumerRentId INNER JOIN
                      Consumer cons ON cons.ConsumerId = cr.ConsumerId   INNER JOIN
                      Address acr ON acr.AddressId = cr.AddressId INNER JOIN
                      Street scr ON acr.StreetId = scr.StreetId
WHERE     c.CounterId IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc)
UNION
SELECT     CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
                      ConsumerName = CASE c.PurposeId WHEN 1 THEN 'Комунальна власність' WHEN 2 THEN 'Комунальна власність' WHEN 5 THEN 'Комунальна власність' WHEN 3 THEN
                       'Індивідуальній тепловий пункт' WHEN 4 THEN 'КП власні потреби' ELSE 'Орендарі' END,
                       s.StreetName ConsumerStreetName, a.House ConsumerHouse,
                        p.PurposeName, Coefficient, 0 AS UsedKvat, 100 AS UsedPercent, 
                      CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId
WHERE     CounterId NOT IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc)
UNION
SELECT     CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
                      ConsumerName = CASE c.PurposeId WHEN 1 THEN 'Комунальна власність' WHEN 2 THEN 'Комунальна власність' WHEN 5 THEN 'Комунальна власність' WHEN 3 THEN
                       'Індивідуальній тепловий пункт' WHEN 4 THEN 'КП власні потреби' ELSE 'Орендарі' END, 
                       s.StreetName ConsumerStreetName, a.House ConsumerHouse,
                       
                       p.PurposeName, Coefficient, 0 AS UsedKvat, 100 AS UsedPercent, 
                      CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId
WHERE     CounterId IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc
                            WHERE      cc.UsedKvat <> 0)
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BillingPeriod]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BillingPeriod] (@BillingPeriodId int)
RETURNS TABLE
AS
RETURN 
(
   SELECT bp.PeriodMonth, bp.PeriodYear, PowerContractNumber, PowerCounterArhiw, 
       PowerContractNumber+'.'+PowerCounterArhiw CounterFullName,Tariff
      ,SUM([Consumption]) [Consumption]
      ,SUM([Amount]) Amount
     
	FROM Billing b INNER JOIN BillingPeriod bp ON b.BillingPeriodId=bp.BillingPeriodId
	WHERE b.BillingPeriodId=@BillingPeriodId 
	--AND PowerCounterExtInfo='' 
	AND Consumption>0 
	GROUP BY bp.PeriodMonth, bp.PeriodYear, PowerContractNumber, PowerCounterArhiw, Tariff
	
);
GO
/****** Object:  UserDefinedFunction [dbo].[ufn_BillingPeriodByGed]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ufn_BillingPeriodByGed] (@BillingPeriodId int, @SubdivisionId INT = null)
RETURNS TABLE
AS

RETURN
SELECT CounterId, CounterFullName, CounterNumber, StreetId, StreetName, House, PurposeId, 
		  ConsumerName, ConsumerStreetName, ConsumerHouse,PurposeName, Coefficient, UsedKvat, UsedPercent, 
          CounterContractId, AddressId, SubdivisionId, 
          PeriodMonth, PeriodYear, PowerContractNumber, PowerCounterArhiw, 
          Tariff, Consumption, Amount, RealUsedKvat, 
          CASE  WHEN UsedPercent>0 THEN GlobalUsedKvat * UsedPercent/100
          ELSE 
          GlobalUsedKvat END GlobalUsedKvat 
          , 
          Tariff*( CASE  WHEN UsedPercent>0 THEN GlobalUsedKvat * UsedPercent/100
          ELSE 
          GlobalUsedKvat END)  
          Summa , TarifId
FROM 
(
SELECT     v.CounterId, v.CounterFullName, v.CounterNumber, v.StreetId, v.StreetName, v.House, v.PurposeId, 
v.ConsumerName, v.ConsumerStreetName, v.ConsumerHouse,v.PurposeName, v.Coefficient, v.UsedKvat, 
                      v.UsedPercent, v.CounterContractId, v.AddressId, v.SubdivisionId, f.PeriodMonth, f.PeriodYear, 
                      f.PowerContractNumber, f.PowerCounterArhiw, 
                       f.Tariff, f.Consumption, f.Amount,
                       SUM(v.UsedKvat) OVER(PARTITION BY v.CounterFullName) RealUsedKvat,
                       CASE 
                       WHEN v.UsedKvat>0 THEN v.UsedKvat
                       ELSE 
                       f.Consumption - SUM(v.UsedKvat) OVER(PARTITION BY v.CounterFullName) 
                       END AS GlobalUsedKvat,
                       f.Tariff*(CASE 
                       WHEN v.UsedKvat>0 THEN v.UsedKvat
                       ELSE 
                       f.Consumption - SUM(v.UsedKvat) OVER(PARTITION BY v.CounterFullName) 
                       END) SUMMA,  tar.TarifId
FROM         uv_UsedElPowerConsumer AS v INNER JOIN
                      dbo.ufn_BillingPeriod(5) AS f ON v.CounterFullName = f.CounterFullName
                      
                      INNER JOIN 
                      (SELECT ROW_NUMBER() OVER(ORDER BY Tariff) AS TarifId , Tariff 
						FROM 
						(SELECT DISTINCT f.Tariff Tariff
						FROM dbo.ufn_BillingPeriod(@BillingPeriodId) AS f) tmp)  tar ON f.Tariff=tar.Tariff

WHERE     v.SubdivisionId = @SubdivisionId OR @SubdivisionId IS NULL
) TEMP
GO
/****** Object:  View [dbo].[uv_UsedElPowerConsumerNew]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[uv_UsedElPowerConsumerNew]
AS

SELECT     c.CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
           cons.ConsumerName,  scr.StreetName ConsumerStreetName, acr.House ConsumerHouse,
            p.PurposeName, Coefficient, 
                      cc.UsedKvat AS UsedKvat, cc.UsedPercent AS UsedPercent, CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId INNER JOIN
                      ConsumerContract cc ON c.CounterId = cc.CounterId INNER JOIN
                      ConsumerRent cr ON cc.ConsumerRentId = cr.ConsumerRentId INNER JOIN
                      Consumer cons ON cons.ConsumerId = cr.ConsumerId   INNER JOIN
                      Address acr ON acr.AddressId = cr.AddressId INNER JOIN
                      Street scr ON acr.StreetId = scr.StreetId
WHERE     c.CounterId IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc)
UNION
SELECT     CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
                      ConsumerName = CASE c.PurposeId WHEN 1 THEN 'Комунальна власність' WHEN 2 THEN 'Комунальна власність' WHEN 5 THEN 'Комунальна власність' WHEN 3 THEN
                       'Індивідуальній тепловий пункт' WHEN 4 THEN 'КП власні потреби' ELSE 'Орендарі' END,
                       s.StreetName ConsumerStreetName, a.House ConsumerHouse,
                        p.PurposeName, Coefficient, 0 AS UsedKvat, 100 AS UsedPercent, 
                      CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId
WHERE     CounterId NOT IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc)
UNION
SELECT     CounterId, CounterFullName, CounterNumber, a.StreetId, s.StreetName, a.House, c.PurposeId, 
                      ConsumerName = CASE c.PurposeId WHEN 1 THEN 'Комунальна власність' WHEN 2 THEN 'Комунальна власність' WHEN 5 THEN 'Комунальна власність' WHEN 3 THEN
                       'Індивідуальній тепловий пункт' WHEN 4 THEN 'КП власні потреби' ELSE 'Орендарі' END, 
                       s.StreetName ConsumerStreetName, a.House ConsumerHouse,
                       
                       p.PurposeName, Coefficient, 0 AS UsedKvat, 100 AS UsedPercent, 
                      CounterContractId, c.AddressId, a.SubdivisionId
FROM         Counter AS c INNER JOIN
                      Address a ON a.AddressId = c.AddressId INNER JOIN
                      Street s ON a.StreetId = s.StreetId INNER JOIN
                      Purpose p ON c.PurposeId = p.PurposeId
WHERE     CounterId IN
                          (SELECT DISTINCT cc.CounterId
                            FROM          ConsumerContract cc
                            WHERE      cc.UsedKvat <> 0)
GO
/****** Object:  Table [dbo].[Subdivision]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subdivision](
	[SubdivisionId] [int] IDENTITY(1,1) NOT NULL,
	[SubdivisionName] [nvarchar](64) NOT NULL,
 CONSTRAINT [PK_dbo.Subdivision] PRIMARY KEY CLUSTERED 
(
	[SubdivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (1, 45, 2, N'34/1', NULL, 5, 5, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (2, 45, 2, N'35', NULL, 4, 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Address] ([AddressId], [StreetId], [SubdivisionId], [House], [Serial], [СountFloor], [СountEntrance], [Latitude], [Longitude]) VALUES (3, 45, 2, N'36', NULL, 5, 5, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Address] OFF
SET IDENTITY_INSERT [dbo].[Consumer] ON 

INSERT [dbo].[Consumer] ([ConsumerId], [ConsumerName]) VALUES (1, N'Комунальна власність')
INSERT [dbo].[Consumer] ([ConsumerId], [ConsumerName]) VALUES (2, N'КП власні потреби')
INSERT [dbo].[Consumer] ([ConsumerId], [ConsumerName]) VALUES (3, N'КП ЖЕД 401 власні потреби')
SET IDENTITY_INSERT [dbo].[Consumer] OFF
SET IDENTITY_INSERT [dbo].[ConsumerContract] ON 

INSERT [dbo].[ConsumerContract] ([ConsumerContractId], [ConsumerRentId], [UsedPercent], [UsedKvat], [DateStart], [DateEnd]) VALUES (17, 1004, CAST(100.00 AS Numeric(7, 2)), 0, NULL, NULL)
INSERT [dbo].[ConsumerContract] ([ConsumerContractId], [ConsumerRentId], [UsedPercent], [UsedKvat], [DateStart], [DateEnd]) VALUES (19, 478, CAST(0.00 AS Numeric(7, 2)), 1000, NULL, NULL)
INSERT [dbo].[ConsumerContract] ([ConsumerContractId], [ConsumerRentId], [UsedPercent], [UsedKvat], [DateStart], [DateEnd]) VALUES (116, 1006, CAST(0.00 AS Numeric(7, 2)), 888, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ConsumerContract] OFF
SET IDENTITY_INSERT [dbo].[ConsumerRent] ON 

INSERT [dbo].[ConsumerRent] ([ConsumerRentId], [ConsumerId], [AddressId]) VALUES (357, 1, 1)
INSERT [dbo].[ConsumerRent] ([ConsumerRentId], [ConsumerId], [AddressId]) VALUES (719, 1, 2)
INSERT [dbo].[ConsumerRent] ([ConsumerRentId], [ConsumerId], [AddressId]) VALUES (104, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[ConsumerRent] OFF
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (1, N'вул. А. Шептицького')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (2, N'вул. В. Нестайка')
INSERT [dbo].[Street] ([StreetId], [StreetName]) VALUES (3, N'вул. Челябінська')
GO
SET IDENTITY_INSERT [dbo].[Street] OFF
SET IDENTITY_INSERT [dbo].[Subdivision] ON 

INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (1, N'ЖЕД 401')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (2, N'ЖЕД 402')
INSERT [dbo].[Subdivision] ([SubdivisionId], [SubdivisionName]) VALUES (3, N'ЖЕД 403')
SET IDENTITY_INSERT [dbo].[Subdivision] OFF
/****** Object:  Index [IX_StreetId]    Script Date: 12.09.2019 9:06:11 ******/
CREATE NONCLUSTERED INDEX [IX_StreetId] ON [dbo].[Address]
(
	[StreetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubdivisionId]    Script Date: 12.09.2019 9:06:11 ******/
CREATE NONCLUSTERED INDEX [IX_SubdivisionId] ON [dbo].[Address]
(
	[SubdivisionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [ucConsumerRent]    Script Date: 12.09.2019 9:06:11 ******/
ALTER TABLE [dbo].[ConsumerRent] ADD  CONSTRAINT [ucConsumerRent] UNIQUE NONCLUSTERED 
(
	[ConsumerId] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AddressId]    Script Date: 12.09.2019 9:06:11 ******/
CREATE NONCLUSTERED INDEX [IX_AddressId] ON [dbo].[ConsumerRent]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ConsumerId]    Script Date: 12.09.2019 9:06:11 ******/
CREATE NONCLUSTERED INDEX [IX_ConsumerId] ON [dbo].[ConsumerRent]
(
	[ConsumerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ConsumerContract] ADD  DEFAULT ((0)) FOR [UsedPercent]
GO
ALTER TABLE [dbo].[ConsumerContract] ADD  DEFAULT ((0)) FOR [UsedKvat]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId] FOREIGN KEY([StreetId])
REFERENCES [dbo].[Street] ([StreetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Street_StreetId]
GO
ALTER TABLE [dbo].[Address]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId] FOREIGN KEY([SubdivisionId])
REFERENCES [dbo].[Subdivision] ([SubdivisionId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Address] CHECK CONSTRAINT [FK_dbo.Address_dbo.Subdivision_SubdivisionId]
GO
ALTER TABLE [dbo].[ConsumerContract]  WITH CHECK ADD FOREIGN KEY([ConsumerRentId])
REFERENCES [dbo].[ConsumerRent] ([ConsumerRentId])
GO
ALTER TABLE [dbo].[ConsumerRent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsumerRent_dbo.Address_AddressId] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([AddressId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumerRent] CHECK CONSTRAINT [FK_dbo.ConsumerRent_dbo.Address_AddressId]
GO
ALTER TABLE [dbo].[ConsumerRent]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ConsumerRent_dbo.Consumer_ConsumerId] FOREIGN KEY([ConsumerId])
REFERENCES [dbo].[Consumer] ([ConsumerId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ConsumerRent] CHECK CONSTRAINT [FK_dbo.ConsumerRent_dbo.Consumer_ConsumerId]
GO
/****** Object:  StoredProcedure [dbo].[pCreateBillingLoadsGreo]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Vasilenko Igor>
-- Create date: <Create Date,,26.07,2017>
-- Description:	<Description,процедура которая создает/обновляет 
-- данные за выбраныый расчетный период по указзанному ЖРЕО>
-- 
-- =============================================
CREATE PROCEDURE [dbo].[pCreateBillingLoadsGreo]
    @BillingPeriodId INT
    --, 
    -- @PeriodYear INT,
    --@PeriodMonth INT 
   
    --,
    --@SubdivisionId INT = NULL 

AS
BEGIN
DECLARE @PeriodYear INT = 0;
DECLARE @PeriodMonth INT = 0;
DECLARE @BillingPeriodIdPrev INT =0;
DECLARE @PeriodMonthPrev INT =0;
DECLARE @PeriodYearPrev INT =0;

SELECT @PeriodYear=PeriodYear, @PeriodMonth=PeriodMonth
FROM dbo.BillingPeriod
WHERE BillingPeriodId=@BillingPeriodId
-- определения значения прошлого месяца	и года
	IF @PeriodMonth=1
		begin
		  SET @PeriodMonthPrev = 12;
		  SET @PeriodYearPrev = @PeriodYear -1;
		end
	ELSE 
		begin
		  SET @PeriodMonthPrev = @PeriodMonth - 1;
		   SET @PeriodYearPrev = @PeriodYear;
		end
-- определения ИД значения прошлого периода!
SELECT @BillingPeriodIdPrev = @BillingPeriodId
FROM 	dbo.BillingPeriod b
WHERE PeriodMonth=@PeriodMonthPrev AND PeriodYear=@PeriodYearPrev;
	
-- исходящие показания счетчиков прошлого периода, 
-- которые являются пред. показаниями в текущем периоде!
--SELECT l.CounterId, l.CurrentValue
--FROM dbo.BillingLoadsGreo l
--WHERE l.BillingPeriodId=@BillingPeriodIdPrev
--выбор ИД всех счетчиков по ЖРЕО
--WHERE 	a.SubdivisionId = @SubdivisionId OR @SubdivisionId IS NULL

-- Вставляем ВСЕ счетчики - но это слишком примитивно! 
-- Если вызвать несколько раз процедуру - ЧП

INSERT INTO BillingLoadsGreo (BillingPeriodId, CounterId)
SELECT  @BillingPeriodId,  c.CounterId
FROM dbo.Counter c LEFT JOIN dbo.BillingLoadsGreo b ON c.CounterId=b.CounterId
          
WHERE (b.BillingPeriodId=@BillingPeriodId OR (b.BillingPeriodId IS NULL))  AND 
      b.CounterId IS NULL -- Вставляем ТЕ счетчики, которых НЕТ

-- Для теста есть данные 411 ЖРЕО

UPDATE b
SET 
b.PreviousValue = prev.CurrentValue
FROM 
 dbo.BillingLoadsGreo b INNER JOIN 
    (SELECT l.CounterId, l.CurrentValue
	FROM dbo.BillingLoadsGreo l
	WHERE l.BillingPeriodId=@BillingPeriodIdPrev) prev 
														ON b.CounterId=prev.CounterId
WHERE b.BillingPeriodId=@BillingPeriodId;

END
GO
/****** Object:  StoredProcedure [dbo].[pDeleteBillingLoadsGreo]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pDeleteBillingLoadsGreo]
    @BillingPeriodId int
AS
BEGIN
	BEGIN Tran
	
		BEGIN TRY
		   DELETE 
		   FROM dbo.BillingSource
		   WHERE BillingPeriodId=@BillingPeriodId;
   		   DELETE 
		   FROM dbo.Billing
		   WHERE BillingPeriodId=@BillingPeriodId;
           COMMIT;       
		END TRY
		  
		BEGIN CATCH
		 ROLLBACK;
		 
		END CATCH
	
END
GO
/****** Object:  StoredProcedure [dbo].[pInsertNewAccountForPeriod]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[pInsertNewAccountForPeriod]
   @BillingPeriodId INT 
AS

BEGIN
INSERT INTO  KpInitialEntity(  FullNumberCounter, NumberCounter, NumberContract, Address, 
 Koef)

SELECT      b.PowerContractNumber+'.'+b.PowerCounterArhiw FullNumberCounter, 
b.PowerContractNumber+'.'+b.PowerCounterArhiw NumberCounter,  b.PowerContractNumber NumberContract,
REPLACE(b.Address, 'м. Київ, Дніпровський район, ', '') Address, 1 Koef
FROM         Billing AS b LEFT OUTER JOIN
                      Counter AS c ON c.CounterFullName = b.PowerContractNumber + '.' + b.PowerCounterArhiw
WHERE     (b.BillingPeriodId = @BillingPeriodId) AND (b.Consumption > 0) AND (b.PowerCounterArhiw <> '') 

AND (c.CounterFullName IS NULL) AND b.PowerContractNumber+'.'+b.PowerCounterArhiw
 NOT IN (SELECT      NumberCounter
FROM         KpInitialEntity )
GROUP BY b.Number, b.PowerContractNumber, 
b.PowerCounterArhiw, b.PowerCounterExtInfo, b.Address



END




GO
/****** Object:  StoredProcedure [dbo].[ProcInsertCounterNewPeriod]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ProcInsertCounterNewPeriod]
  @BillingPeriodId INT
AS

INSERT INTO KpInitialEntity (FullNumberCounter, NumberCounter, NumberContract, Address, TypeCounter, FabricNumberCounter, Koef)
SELECT  Replace(b.Number,   SUBSTRING(b.Number, 1, PATINDEX(N'%.%', b.Number)),'') FullNumberCounter,
b.PowerContractNumber+'.'+ b.PowerCounterArhiw NumberCounter, b.PowerContractNumber NumberContract,
b.Address, '' TypeCounter, '' TypeCounter, CAST( CEILING( b.Amount/(b.Tariff*b.Consumption)) AS INT) Koef
FROM    Billing AS b

 LEFT OUTER JOIN
                      ViewUsedElpowerConsumer AS q ON b.PowerContractNumber = q.CounterContractName AND b.PowerCounterArhiw = q.CounterNumber
                 
WHERE     (b.BillingPeriodId = 3) AND (b.Type = 'АЕ спож.') and b.Consumption>0 AND (q.CounterContractName IS NULL) 
AND (q.CounterNumber IS NULL)
GO
/****** Object:  StoredProcedure [dbo].[pStiRepAktUsageElPower]    Script Date: 12.09.2019 9:06:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[pStiRepAktUsageElPower]
    @BillingPeriodId int, 
	@SubdivisionId INT = NULL
AS
BEGIN
	SELECT  b.BillingLoadsGreoId, b.BillingPeriodId, c.CounterId, c.CounterFullName,
                   s.StreetName + ', ' + a.House as Address, p.PurposeName, 
         c.CounterType, c.CounterFactoryNumber,
                   c.CounterNumber, 
                   b.PreviousValue, b.CurrentValue, c.Coefficient, b.UsedKvat
            FROM dbo.Counter c INNER JOIN dbo.Address a ON c.AddressId=a.AddressId
                 INNER JOIN dbo.Street s ON a.StreetId=s.StreetId
                 INNER JOIN dbo.Purpose p ON c.PurposeId=p.PurposeId
                 LEFT JOIN BillingLoadsGreo b ON c.CounterId=b.CounterId
   WHERE b.BillingPeriodId = @BillingPeriodId AND
                     a.SubdivisionId = @SubdivisionId OR @SubdivisionId IS NULL
   ORDER BY c.CounterNumber
END
GO
USE [master]
GO
