@model IEnumerable<DAL_Paggination.Category>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
            <th>Button for delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.CategoryName</td>
                <td>
                    @Ajax.ActionLink("Delete",
                                         "Delete",
                                         new { @id = category.CategoryId, @type = "Category" },
                                         new AjaxOptions { UpdateTargetId = "place" },
                                         new { @class = ViewBag.good.IsInvolvedManufacturer(category.CategoryId)? "btn btn-danger disabled" : "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="paging">
    @for (int i = 0; i < ViewBag.PageCount; i++)
    {
        @Ajax.ActionLink($"{i + 1}", "TableCategories", new { id = @i + 1 }, new AjaxOptions { UpdateTargetId = "place" }, new { @class = "btn btn-success" })
    }
</div>

