USE [hr19p31]
GO
/****** Object:  Table [dbo].[Contragent]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contragent](
	[ContragentId] [int] NOT NULL,
	[ContragentName] [nvarchar](64) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](32) NOT NULL,
	[LastName] [nvarchar](32) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Inn] [char](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeIsx]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EmployeeIsx](
	[id] [int] NULL,
	[FirstName] [nvarchar](32) NULL,
	[LastName] [nvarchar](32) NULL,
	[Birthday] [date] NULL,
	[Inn] [char](12) NULL,
	[HireDate] [date] NULL,
	[Salary] [money] NULL,
	[NameJobTitle] [nvarchar](32) NULL,
	[Reservist] [bit] NULL,
	[MilitaryNumber] [nchar](9) NULL,
	[MilitarySpeciality] [nvarchar](64) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EmployeeMilitary]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeMilitary](
	[EmployeeId] [int] NOT NULL,
	[MilitaryNumber] [nchar](9) NOT NULL,
	[MilitarySpecial] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[JobTitle]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobTitle](
	[JobTitleId] [int] IDENTITY(1,1) NOT NULL,
	[NameJobTitle] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[JobTitleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 27.08.2019 22:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[PromotionId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL DEFAULT (getdate()),
	[Salary] [money] NOT NULL DEFAULT ((0)),
	[JobTitleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Contragent] ([ContragentId], [ContragentName]) VALUES (0, N'Contragent 0')
INSERT [dbo].[Contragent] ([ContragentId], [ContragentName]) VALUES (1, N'Contragent 1')
INSERT [dbo].[Contragent] ([ContragentId], [ContragentName]) VALUES (2, N'Contragent 2')
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [Birthday], [Inn]) VALUES (1, N'Igor', N'Krivonos', CAST(N'1972-08-16' AS Date), N'112233445566')
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [Birthday], [Inn]) VALUES (2, N'Ivan', N'Darda', CAST(N'1980-04-22' AS Date), N'222233445566')
INSERT [dbo].[Employee] ([EmployeeId], [FirstName], [LastName], [Birthday], [Inn]) VALUES (3, N'Petr', N'Sivoy', CAST(N'1989-03-17' AS Date), N'332233445566')
SET IDENTITY_INSERT [dbo].[Employee] OFF
INSERT [dbo].[EmployeeIsx] ([id], [FirstName], [LastName], [Birthday], [Inn], [HireDate], [Salary], [NameJobTitle], [Reservist], [MilitaryNumber], [MilitarySpeciality]) VALUES (1, N'Igor', N'Krivonos', CAST(N'1972-08-16' AS Date), N'112233445566', CAST(N'2000-07-01' AS Date), 2000.0000, N'engineer', 1, N'VC-212121', N'Saper')
INSERT [dbo].[EmployeeIsx] ([id], [FirstName], [LastName], [Birthday], [Inn], [HireDate], [Salary], [NameJobTitle], [Reservist], [MilitaryNumber], [MilitarySpeciality]) VALUES (1, N'Igor', N'Krivonos', CAST(N'1972-08-16' AS Date), N'112233445566', CAST(N'2007-12-16' AS Date), 3000.0000, N'programmer', 1, N'VC-212121', N'Saper')
INSERT [dbo].[EmployeeIsx] ([id], [FirstName], [LastName], [Birthday], [Inn], [HireDate], [Salary], [NameJobTitle], [Reservist], [MilitaryNumber], [MilitarySpeciality]) VALUES (1, N'Igor', N'Krivonos', CAST(N'1972-08-16' AS Date), N'112233445566', CAST(N'2009-10-21' AS Date), 7000.0000, N'senior programmer', 1, N'VC-212121', N'Saper')
INSERT [dbo].[EmployeeMilitary] ([EmployeeId], [MilitaryNumber], [MilitarySpecial]) VALUES (1, N'VC-212121', N'Saper')
INSERT [dbo].[EmployeeMilitary] ([EmployeeId], [MilitaryNumber], [MilitarySpecial]) VALUES (3, N'UK-321567', N'Operator')
SET IDENTITY_INSERT [dbo].[JobTitle] ON 

INSERT [dbo].[JobTitle] ([JobTitleId], [NameJobTitle]) VALUES (1, N'director')
INSERT [dbo].[JobTitle] ([JobTitleId], [NameJobTitle]) VALUES (2, N'engineer')
INSERT [dbo].[JobTitle] ([JobTitleId], [NameJobTitle]) VALUES (3, N'middle programmer')
SET IDENTITY_INSERT [dbo].[JobTitle] OFF
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([PromotionId], [EmployeeId], [HireDate], [Salary], [JobTitleId]) VALUES (1, 1, CAST(N'2013-09-12 00:00:00.000' AS DateTime), 6500.0000, 1)
INSERT [dbo].[Promotion] ([PromotionId], [EmployeeId], [HireDate], [Salary], [JobTitleId]) VALUES (2, 1, CAST(N'2000-07-01 00:00:00.000' AS DateTime), 2000.0000, 2)
INSERT [dbo].[Promotion] ([PromotionId], [EmployeeId], [HireDate], [Salary], [JobTitleId]) VALUES (3, 4, CAST(N'2012-10-21 00:00:00.000' AS DateTime), 3200.0000, 2)
SET IDENTITY_INSERT [dbo].[Promotion] OFF
ALTER TABLE [dbo].[EmployeeMilitary]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([EmployeeId])
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD FOREIGN KEY([JobTitleId])
REFERENCES [dbo].[JobTitle] ([JobTitleId])
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD CHECK  (([Salary]>=(0) AND [Salary]<(100000)))
GO
