#trackBar {
    background-color: rgb(247, 239, 175);
    height: 30px;
    width: 300px;
    line-height: 30px;
    text-align: center;

}

#trackBar > #rail {
   background-color: rgb(187, 187, 187);
   height: 10px;
   width: 250px;
   display: inline-block;
}

#trackBar > #rail > #trackItem {
   background-color: rgb(87, 140, 255);
   width: 20px;
   height: 20px;
   position: relative;
   top: -5px;
   left: -5px;
}